<!DOCTYPE html>
<body>
<div th:fragment="emptyFragment" style="display:none;"></div>

<div class="container-fluid p-3 pb-2 justify-content-center" th:fragment="homeFragment">
    <div class="container-fluid justify-content-center">
        <img class="rounded mx-auto d-secretBlock" th:src="@{/image/logo/coffeelogo.png}" alt="Logotype">
        <p id="home-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled.
        </p>
    </div>

    <div class="container-fluid mt-3" style="width: 15rem">
        <div class="card shadow rounded mx-auto d-secretBlock">
            <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="TeamLeader">
            <div class="card-body">
                <p class="card-text">Чевардін</p>
            </div>
        </div>
    </div>

    <div class="container-md text-center">
        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/Neshcheret.png}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Нещерет</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/Moskalets.png}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Москалець</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/Bratchyk.png}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Братчик</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/Kalych.png}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Калич</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/Samoliuk.png}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Самолюк</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/Hapon.png}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Гапон</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-3 pb-2" th:fragment="writeFragment">
    <form class="container shadow rounded-3 p-2" id="write-form" th:action="@{/sendNewMessage}" th:method="post"
          th:object="${messageRequest}">

        <div class="input-group mb-3" id="destination">
<!--            <span class="input-group-text">To</span>-->
<!--            <input type="text" class="form-control" placeholder="Username" aria-label="Username"-->
<!--                   aria-describedby="basic-addon1" th:field="*{user_to}" required>-->
                <input class="input-style text-rep form-control" placeholder="chlen" autocomplete="off" name="username"
                       type="text" th:field="*{user_to}" required>
            <span class="input-group-text" id="btn-plus" onclick="addField()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </span>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="title">Title</span>
            <input type="text" class="form-control" aria-label="Username"
                   aria-describedby="basic-addon1" th:field="*{title}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Text</span>
            <textarea class="form-control write-text-area" aria-label="Message" th:field="*{bodyMessage}"
                      required></textarea>
        </div>
        <div class="container d-flex align-items-stretch justify-content-end p-0">
            <button type="submit" class="btn">Send</button>
        </div>
    </form>
    <script th:src="@{/js/headPage-writeFragment-username-input.js}"></script>
</div>

<div id="main">
    <div class="action-bar">
        <ul>
            <li><a class="icon circle-icon glyphicon glyphicon-chevron-down"></a></li>
            <li><a class="icon circle-icon glyphicon glyphicon-refresh"></a></li>
            <li><a class="icon circle-icon glyphicon glyphicon-share-alt"></a></li>
            <li><a class="icon circle-icon red glyphicon glyphicon-remove"></a></li>
            <li><a class="icon circle-icon red glyphicon glyphicon-flag"></a></li>
        </ul>
    </div>
    <div id="main-nano-wrapper" class="nano">
        <div class="nano-content">
            <ul class="message-list">
                <li class="unread">
                    <div class="col col-1"><span class="dot"></span>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" id="chk1">
                            <label for="chk1" class="toggle"></label>
                        </div>
                        <div class="date">11:49 11-12-2022</div>
                        <text class="title">Lucas Kriebel</text>
                        <span class="star-toggle glyphicon glyphicon-star-empty"></span>
                    </div>
                    <div class="col col-2">
                        <div class="subject">Lucas Kriebel (@LucasKriebel) has sent you a direct message on Twitter!
                            &nbsp;&ndash;&nbsp; <span class="teaser">@LucasKriebel - Very cool :) Nicklas, You have a new direct message.</span>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid p-3 pb-2" th:fragment="incomingFragment">
    <div class="card shadow">
        <div class="card-body">

            <th:block th:each="message : ${messages}">
                <div class="custom-table">
                    <div class="id-message" th:text="${message?.getId()}"></div>
                    <div class="user-message" th:text="${message?.getUser_from()}"></div>
                    <div class="title-message" th:text="${message?.getTitle()}"></div>
                    <div class="body-message" th:text="${message?.getBody()}"></div>
                    <div class="time-message" th:text="${message?.getDate_time()}"></div>
                </div>
            </th:block>

            <table class="table">
                <!--                <thead>-->
                <!--                <tr>-->
                <!--                    <th scope="col">#</th>-->
                <!--                    <th scope="col">Sender</th>-->
                <!--                    <th scope="col">Title</th>-->
                <!--                    <th scope="col">Body</th>-->
                <!--                    <th scope="col">Date and Time</th>-->
                <!--                </tr>-->
                <!--                </thead>-->
                <tbody>
                <!--                <th:secretBlock th:each="message : ${messages}">-->
                <!--                    <tr th:onclick="@{/headPage/message/${message?.getId()}}">-->
                <!--                        <td th:text="${message?.getId()}"></td>-->
                <!--                        <td th:text="${message?.getUser_from()}"></td>-->
                <!--                        <td th:text="${message?.getTitle()}"></td>-->
                <!--                        <td th:text="${message?.getBody()}"></td>-->
                <!--                        <td th:text="${message?.getDate_time()}"></td>-->
                <!--                    </tr>-->
                <!--                </th:secretBlock>-->
                </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">
        let newMessages = [[${newMessages}]];
        let from = [[${message?.getFrom()}]];

        function notifyMe() {
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            } else if (Notification.permission === "granted") {
                let notification = new Notification(from);
            } else if (Notification.permission !== 'denied') {
                Notification.requestPermission(function (permission) {
                    if (permission === "granted") {
                        let notification = new Notification("Notification");
                    }
                });
            }
        }

        if (newMessages) {
            setTimeout(() => notifyMe(), 0);
        }

        setInterval(() => location.reload(), 5000);
    </script>
</div>

<div class="container-fluid p-3 pb-2" th:fragment="outcomingFragment">
    <div class="card shadow">
        <div class="card-body">
            <th:block th:each="message : ${messages}">
                <div class="custom-table">
                    <div class="id-message" th:text="${message?.getId()}"></div>
                    <div class="user-message" th:text="${message?.getUser_to()}"></div>
                    <div class="title-message" th:text="${message?.getTitle()}"></div>
                    <div class="body-message" th:text="${message?.getBody()}"></div>
                    <div class="time-message" th:text="${message?.getDate_time()}"></div>
                </div>
            </th:block>

            <!--   <table class="table">-->
            <!--                <thead>-->
            <!--                <tr>-->
            <!--                    <th scope="col">#</th>-->
            <!--                    <th scope="col">Destination</th>-->
            <!--                    <th scope="col">Title</th>-->
            <!--                    <th scope="col">Body</th>-->
            <!--                    <th scope="col">Date and Time</th>-->
            <!--                </tr>-->
            <!--                </thead>-->
            <!--                <tbody>-->
            <!--                <th:secretBlock th:each="message : ${messages}">-->
            <!--                    <tr th:onclick="@{/headPage/message/${message?.getId()}}">-->
            <!--                        <td th:text="${message?.getId()}"></td>-->
            <!--                        <td th:text="${message?.getUser_to()}"></td>-->
            <!--                        <td th:text="${message?.getTitle()}"></td>-->
            <!--                        <td th:text="${message?.getBody()}"></td>-->
            <!--                        <td th:text="${message?.getDate_time()}"></td>-->
            <!--                    </tr>-->
            <!--                </th:secretBlock>-->
            <!--                </tbody>-->
            <!--            </table>-->
        </div>
    </div>
</div>

<div class="container-fluid p-3 pb-2" th:fragment="messageFragment">
    <div class="card shadow">
        <div class="card-header">
            <p class="h3">Title</p>
            <p class="h5">From: </p>
            <p class="h5">To: </p>
            <p class="h6">Time</p>
        </div>
        <div class="card-body">
            <p id="message-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse venenatis eros eu nunc sagittis
                mattis. Sed venenatis orci vitae sapien mollis, sed efficitur ex maximus. Integer nisi tellus,
                pellentesque interdum posuere non, maximus ut felis. Aliquam iaculis nulla sit amet velit porta, iaculis
                tempus purus tempus. In ullamcorper malesuada arcu, et suscipit tortor ultricies sodales. Donec finibus
                eu mauris a egestas. Praesent ut lorem at turpis porta aliquam a ac sem. Ut eu arcu varius, consequat
                lectus quis, tincidunt ante. Vivamus nec magna vitae lorem consequat gravida. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum varius eleifend
                commodo. Fusce molestie volutpat dui, sed euismod odio sollicitudin in. Aenean eu est ut dui viverra
                vestibulum vel non erat. Pellentesque vitae interdum ipsum.

                Morbi eu tempor enim. Curabitur mollis viverra cursus. Class aptent taciti sociosqu ad litora torquent
                per conubia nostra, per inceptos himenaeos. Donec a orci id erat malesuada ornare. Donec a tempor ex, et
                varius massa. In cursus et dolor sit amet porttitor. Quisque quis imperdiet ante. Curabitur bibendum
                neque odio, at rhoncus sem euismod at. Etiam tristique libero purus. Maecenas consectetur velit in metus
                pretium ornare. Aenean felis turpis, pellentesque ac viverra quis, condimentum vel magna. Phasellus a
                porta lacus. In eu euismod elit. Donec sagittis massa lacus, vitae lacinia nisi fermentum ac. Morbi vel
                mi leo. Etiam auctor nulla id convallis tincidunt.

                Aenean vitae nisi semper, efficitur nisi eu, pharetra arcu. Nunc maximus sagittis arcu et viverra. Nam
                faucibus, purus feugiat semper convallis, nisl ligula auctor mauris, vitae posuere eros magna eu mauris.
                Mauris enim est, commodo ut ex vel, interdum fringilla nibh. Duis interdum at mauris vitae laoreet.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare lorem convallis, placerat ipsum
                et, finibus urna. Cras neque elit, dapibus sed laoreet sed, ornare sed sem.

                Aliquam lobortis turpis leo, sed tincidunt mi malesuada iaculis. Nullam ligula dolor, auctor sed urna
                vitae, mollis pulvinar elit. Aliquam a iaculis dolor. Donec at aliquam ipsum, sit amet consectetur
                purus. Proin et magna sed massa fringilla commodo. Phasellus nec enim bibendum, mattis dui eu, dictum
                nulla. Nullam a dictum nisl. Phasellus finibus non neque quis pretium. Morbi consectetur bibendum odio,
                in malesuada orci commodo eget. Etiam tempor ipsum id dignissim tempor. Nulla ac mauris nec lorem
                pharetra lacinia eget eu est. Quisque ultricies semper urna tristique fringilla.

                Sed in mauris nec nisi mattis vehicula. Pellentesque sed gravida sapien. Nam nec nunc at augue dictum
                pharetra. Nam non molestie turpis, et convallis dolor. Duis hendrerit massa vitae tellus tempus, sed
                rhoncus mauris eleifend. Sed vitae faucibus felis. Aliquam urna lacus, dapibus in eleifend ac,
                scelerisque euismod sem. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                Vestibulum at velit eu massa posuere tristique. In eget mattis velit. Morbi pharetra lacus vitae elit
                viverra, in auctor erat tincidunt. Nullam ac sem sit amet ligula porttitor consectetur. Curabitur a
                pulvinar ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum tristique libero, id
                cursus ligula euismod.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid p-3 pb-2 justify-content-center" th:fragment="profileFragment">
    <div class="container" id="profile-card">
        <!--        <p class="h4" id="profile-title">Profile</p>-->
        <div class="profile-top-line"></div>
        <div class="container text-center p-0 profile-container">
            <div class="row">
                <form th:object="${updateProfileRequest}" th:action="@{/headPage/updateProfile}" th:method="post">
                    <div class="col-8">
                        <div class="container p-0 text-start mt-3">
                            <p class="h6">Login</p>
                            <input type="text" class="form-control" th:field="*{username}"
                                   th:placeholder="${signUpRequest?.getUsername()}" aria-label="Login"
                                   aria-describedby="basic-addon1">
                            <p class="text-description">Don't forget your email if you don't want to recover your
                                email</p>
                        </div>

                        <div class="container p-0 text-start mt-3">
                            <p class="h6">Fullname</p>
                            <input type="text" class="form-control" th:field="*{fullName}"
                                   th:placeholder="${signUpRequest?.getFullName()}" aria-label="Fullname"
                                   aria-describedby="basic-addon1">
                            <p class="text-description">You can remove it at any time.</p>
                        </div>


                        <div class="container p-0 text-start mt-3">
                            <p class="h6">Old password</p>
                            <input type="text" class="form-control" th:field="*{password}" placeholder="********"
                                   aria-label="Password"
                                   aria-describedby="basic-addon1">
                            <p class="text-description">We will use the old password to be sure about you</p>
                        </div>

                        <div class="container p-0 text-start mt-3">
                            <p class="h6">New password</p>
                            <input type="text" class="form-control" th:field="*{confirmPassword}" placeholder="********"
                                   aria-label="Password"
                                   aria-describedby="basic-addon1">
                            <p class="text-description">Remember your new password</p>
                        </div>

                        <div class="container p-0 text-start mt-3">
                            <p class="h6">Email</p>
                            <input type="text" class="form-control" th:field="*{email}"
                                   th:placeholder="${signUpRequest?.getEmail()}" aria-label="Email"
                                   aria-describedby="basic-addon1">
                            <p class="text-description">Change your e-mail and receive a letter to the new address</p>
                        </div>
                        <div class="container d-flex align-items-stretch justify-content-center p-0">
                            <button type="submit" class="btn" id="apply-setting-btn">Save</button>
                        </div>
                    </div>
                </form>
                <!--                <div class="col-3">-->
                <!--                    <p class="h6 text-start mt-3">Profile picture</p>-->
                <!--                    <img id="profile-icon" th:src="@{/image/developers/Hapon.png}">-->
                <!--                </div>-->
            </div>

        </div>
    </div>
</div>

<div class="container-fluid p-3 pb-2 setting-dialog" th:fragment="settingFragment">

    <!-- Modal -->
    <div class="modal fade" style="margin-top: 12%" id="staticBackdrop" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!--                    <h1 class="modal-title fs-5" id="staticBackdropLabel">IP Address</h1>-->
                    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-text">IP:Port</span>
                        <input type="text" aria-label="Address Service" placeholder="192.168.43.206" class="">
                        <input type="text" aria-label="Port Service" placeholder="8081" class="">
                        <button type="button" class="btn">Change</button>
                    </div>
                </div>
            </div>
        </div>
        <!--    </div>-->

        <!--    <div class="container w-25 justify-content-center">-->
        <div class="setting-form container shadow rounded-3 p-2">
            <!--            <p class="h2 setting-title">Setting</p>-->
            <div>
                <text class="h5">Address service</text>
                <input type="text" aria-label="Address Service" placeholder="192.168.43.206" class="">
                <button type="button" class="btn mt-3 ms-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">IP
                    Address
                </button>
                <div class="tooltip">?
                    <span class="tooltiptext">If you don't have connection try change IP service. Maybe it's problem from our side</span>
                </div>
                <!--                    <p class="text-description mt-3">If you don't have connection try change IP service. Maybe it's problem from our side</p>-->
            </div>
            <div class="setting-dialog-key">
                <p class="">Length key </p>
                <select class="form-select mt-2" aria-label="Length key">
                    <option value="1">128</option>
                    <option value="2">192</option>
                    <option value="3">256</option>
                </select>
                <p class="text-description mt-3"> The longest key will be the strongest</p>
            </div>
            <div class="container d-flex align-items-stretch p-0 justify-content-center">
                <div class="container p-0 text-start mt-4" style="display: flex; align-items: center;">
                    <!--                    <p class="h5">Generate new keys</p>-->
                    <!--                    <div class="setting-line"></div>-->
                    <text class="h6 mt-2">Current key </text>
                    <textarea
                            class=""
                            style="height: 22px; width: 33%;"
                            id="private-key"
                            onclick="copyToClipboard(this.id)"
                            aria-label="With textarea"
                            data-bs-toggle="tooltip"
                            data-popper-placement="top"
                            title="Click to copy"
                            readonly
                    >{Key}</textarea>
                    <button type="submit" class="btn mt-2 ms-0" style="margin: 0% 1% 0% 1%;">Generate Keys</button>
                    <div class="tooltip">?
                        <span class="tooltiptext">If you will change your keys then older keys will invalid</span>
                    </div>
                </div>
            </div>
            <script th:src="@{/js/headPage-profileFragment.js}"></script>
            <div style="text-align: center;">
                <p class="" style="margin-bottom: 0px;">Encryption mode</p>
                <div style="display: flex; align-items: center; justify-content: center">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption1"
                               checked>
                        <label class="form-check-label" for="radioEncryption1">
                            ECB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption2">
                        <label class="form-check-label" for="radioEncryption2">
                            CBC
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption3">
                        <label class="form-check-label" for="radioEncryption3">
                            PCBC
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption4">
                        <label class="form-check-label" for="radioEncryption4">
                            CFB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption5">
                        <label class="form-check-label" for="radioEncryption5">
                            OFB
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioEncryption" id="radioEncryption6">
                        <label class="form-check-label" for="radioEncryption6">
                            CTR
                        </label>
                    </div>
                </div>
            </div>
            <div class="">
                <div style="display: flex; align-items: center; justify-content: center">
                    <p class="h5">Number of picture </p>
                    <input type="number" id="typeNumber" value="1" style=" width: 15%; margin: 0% 1% 0% 1%;">
                    <!-- Замість '1' поставити метод що витягує нинішнє значення -->
                    <div class="tooltip">?
                        <span class="tooltiptext">A large number of pictures increases the time of transmission of the message and reduces the profitability of revealing the message</span>
                    </div>
                </div>
                <button type="submit" class="btn mt-2 ms-0" style="width: 100%">Save</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>