<!DOCTYPE html>
<body>
<div th:fragment="emptyFragment" style="display:none;"></div>

<div class="container-fluid m-1 p-3 pb-2 justify-content-center" th:fragment="homeFragment">
    <div class="container-fluid justify-content-center">
        <img class="rounded mx-auto d-secretBlock" th:src="@{/image/logo/coffeelogo.png}" alt="Logotype">
        <p id="home-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>

    <div class="container-fluid mt-5" style="width: 15rem">
        <div class="card shadow rounded mx-auto d-secretBlock">
            <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="TeamLeader">
            <div class="card-body">
                <p class="card-text">Чевардін</p>
            </div>
        </div>
    </div>

    <div class="container-md text-center">
        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Братчик</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Гапон</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Калич</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Нещерет</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Москалець</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img class="card-img-top" th:src="@{/image/developers/cat.jpg}" alt="Developer">
                    <div class="card-body">
                        <p class="card-text">Самолюк</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-1 p-3 pb-2" th:fragment="writeFragment">
    <form class="container shadow rounded-3 p-2" id="write-form" th:action="@{/sendNewMessage}" th:method="post"  th:object="${messageRequest}">
        <div class="input-group mb-3" >
            <span class="input-group-text" id="destination">To</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1" th:field="*{user_to}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="title">Title</span>
            <input type="text" class="form-control" aria-label="Username"
                   aria-describedby="basic-addon1" th:field="*{title}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Text</span>
            <textarea class="form-control write-text-area" aria-label="Message" th:field="*{bodyMessage}" required></textarea>
        </div>
        <div class="container d-flex align-items-stretch justify-content-end p-0">
            <button type="submit" class="btn btn-primary" id="send-btn">Send</button>
        </div>
    </form>
</div>

<div class="container-fluid m-1 p-3 pb-2" th:fragment="incomingFragment">
    <div class="card">
        <div class="card-header">
            <p class="h4">Incoming messages</p>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                    <th scope="col">Date and Time</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="message : ${messages}">
                <tr onclick="window.open('http://google.com');">
                    <td th:text="${message?.getId()}"></td>
                    <td th:text="${message?.getUser_from()}"></td>
                    <td th:text="${message?.getTitle()}"></td>
                    <td th:text="${message?.getBody()}"></td>
                    <td th:text="${message?.getDate_time()}"></td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid m-1 p-3 pb-2" th:fragment="outcomingFragment">
    <div class="card">
        <div class="card-header">
            <p class="h4">Outcoming messages</p>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                    <th scope="col">Date and Time</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="message : ${messages}">
                <tr onclick="window.open('http://google.com');">
                    <td th:text="${message?.getId()}"></td>
                    <td th:text="${message?.getUser_to()}"></td>
                    <td th:text="${message?.getTitle()}"></td>
                    <td th:text="${message?.getBody()}"></td>
                    <td th:text="${message?.getDate_time()}"></td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container" th:fragment="settingFragment"></div>
</body>
</html>