<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoMail - HeadPage </title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/headPage-style.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon/icon.ico}">
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script th:src="@{/js/headPage-base-script.js}"></script>
    <script th:src="@{/js/headPage-asideFragment.js}"></script>
</head>
<body>
<!--=== SIDE BAR ====-->
<div th:insert="~{fragments/headPageFragments/asideFragment :: 'asideFragment'}"></div>

<th:secretBlock th:if="${headPageValue} == 'write'">
    <div th:insert="~{fragments/headPageFragments/writeFragment :: 'writeFragment'}"></div>
</th:secretBlock>

<!--=== INCOMING TAB ====-->
<th:secretBlock th:if="${headPageValue} == 'incoming'">
    <div th:insert="~{fragments/headPageFragments/incomingFragment :: 'incomingFragment'}"></div>
</th:secretBlock>

<!--=== OUTCOMING TAB ====-->
<th:secretBlock th:if="${headPageValue} == 'outcoming'">
    <div th:insert="~{fragments/headPageFragments/outcomingFragment :: 'outcomingFragment'}"></div>
</th:secretBlock>

<!--=== PROFILE TAB ====-->
<th:secretBlock th:if="${headPageValue} == 'profile'">
    <div th:insert="~{fragments/headPageFragments/profileFragment :: 'profileFragment'}"></div>
</th:secretBlock>

<!--=== SETTINGS TAB ====-->
<th:secretBlock th:if="${headPageValue} == 'setting'">
    <div th:insert="~{fragments/headPageFragments/settingsFragment :: 'settingsFragment'}"></div>
</th:secretBlock>

<!--=== USERS TAB ====-->
<th:secretBlock th:if="${headPageValue} == 'users'">
    <div th:insert="~{fragments/headPageFragments/usersFragment :: 'usersFragment'}"></div>
</th:secretBlock>

<!--=== LOGS TAB ====-->
<th:secretBlock th:if="${headPageValue} == 'logs'">
    <div th:insert="~{fragments/headPageFragments/logsFragment :: 'logsFragment'}"></div>
</th:secretBlock>



</body>
</html>
