<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CryptoMail - Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/login-style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon/icon.ico}">
</head>
<body>
<div class="logo">
    <img class="mx-auto d-block logo" th:src="@{/image/logo/logo.png}" alt="Logotype">
</div>
<div>
    <div th:insert="~{fragments/loginFragments/signFragment :: (${howForm} ? 'signUpFragment' : 'signInFragment')}"></div>
    <div th:insert="~{fragments/loginFragments/errorFragment :: (${isError} ? 'errorFragment' : 'infoFragment')}"></div>
</div>
</body>
</html>