<div th:fragment="incomingFragment">
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <div class="search-box">
                <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
            </div>
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span
                    class="line"></span><span class="line"></span><span class="line line-angle1"></span><span
                    class="line line-angle2"></span></a>Incoming<a><span
                    class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>
        <div class="action-bar">
            <ul>
                <li><a class="icon circle-icon glyphicon glyphicon-chevron-down"></a></li>
                <li><a class="icon circle-icon glyphicon glyphicon-refresh"></a></li>
                <li><a class="icon circle-icon glyphicon glyphicon-share-alt"></a></li>
                <li><a class="icon circle-icon red glyphicon glyphicon-remove"></a></li>
                <li><a class="icon circle-icon red glyphicon glyphicon-flag"></a></li>
            </ul>
        </div>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content">
                <th:block th:each="message : ${messages}">
                    <ul class="message-list">
                        <li class="unread"
                            th:onclick="openMessage([[${message?.getUser_from()}]], [[${message?.getUser_to()}]], [[${message?.getTitle()}]], [[${message?.getBody()}]],[[${message?.getDate_time()}]], [[${message?.getHash()}]], [[${message?.getCertificate()?.getOwner()}]], [[${message?.getCertificate()?.getPublicKey()}]], [[${message?.getCertificate()?.getKeyLength()}]], [[${message?.getCertificate()?.getAlgorithm()}]], [[${message?.getCertificate()?.getEncryptMode()}]], [[${message?.getCertificate()?.getHashType()}]], [[${message?.getCertificate()?.getDateTime()}]])">
                            <div class="col col-1"><span class="dot"></span>
                                <div class="checkbox-wrapper">
                                    <input type="checkbox" id="chk1">
                                    <label for="chk1" class="toggle"></label>
                                </div>
                                <p class="title" th:text="${message?.getUser_from()}"></p><span
                                        class="star-toggle glyphicon glyphicon-star-empty"></span>
                            </div>
                            <div class="col col-2">
                                <div class="subject">
                                    <text th:text="${message?.getTitle()}"></text>
                                    &nbsp;&ndash;&nbsp;<span class="teaser" th:text="${message?.getBody()}"></span>
                                </div>
                                <div class="date" th:text="${message?.getDate_time()}"></div>
                            </div>
                        </li>
                    </ul>
                </th:block>
                <a href="#" class="load-more-link">Show more messages</a>
            </div>
        </div>

        <script th:inline="javascript">
            function openMessage(from, to, title, body, time_message, hash, owner, publicKey, publicKeyLength, algorithm, encryptMode, hashType, timeCertificate) {
                time_message = time_message.substring(0, 10) + " " + time_message.substring(11, 19);

                let fromHTML = document.getElementById("from");
                fromHTML.innerText = from;

                let toHTML = document.getElementById("to");
                toHTML.innerText = to;

                let titleHTML = document.getElementById("title");
                titleHTML.innerText = title;

                let bodyHTML = document.getElementById("body");
                bodyHTML.innerText = body;

                let timeHTML = document.getElementById("time");
                timeHTML.innerText = time_message;

                let fromHeaderHTML = document.getElementById("from-header");
                fromHeaderHTML.innerText = from;

                let toHeaderHTML = document.getElementById("to-header");
                toHeaderHTML.innerText = to;

                let timeHeaderHTML = document.getElementById("time-header");
                timeHeaderHTML.innerText = time_message;

                let hashHTML = document.getElementById("hash");
                hashHTML.innerText = hash;

                let ownerHTML = document.getElementById("owner");
                ownerHTML.innerText = owner;

                let publicKeyHTML = document.getElementById("public-key");
                publicKeyHTML.innerText = publicKey;

                let publicKeyLengthHTML = document.getElementById("public-key-length");
                publicKeyLengthHTML.innerText = publicKeyLength;

                let algorithmHTML = document.getElementById("algorithm");
                algorithmHTML.innerText = algorithm;

                let encryptModeHTML = document.getElementById("encryption-mode");
                encryptModeHTML.innerText = encryptMode;

                let hashTypeHTML = document.getElementById("hash-type");
                hashTypeHTML.innerText = hashType;

                timeCertificate = timeCertificate.substring(0, 10) + " " + timeCertificate.substring(11, 19);

                let timeCertificateHTML = document.getElementById("time-certificate");
                timeCertificateHTML.innerText = timeCertificate;
            }

        </script>

        <script th:inline="javascript">
            let newMessages = [[${newMessages}]];
            let from = [[${message?.getFrom()}]];

            function notifyMe() {
                if (!("Notification" in window)) {
                    alert("This browser does not support desktop notification");
                } else if (Notification.permission === "granted") {
                    let notification = new Notification(from);
                } else if (Notification.permission !== 'denied') {
                    Notification.requestPermission(function (permission) {
                        if (permission === "granted") {
                            let notification = new Notification("Notification");
                        }
                    });
                }
            }

            if (newMessages) {
                setTimeout(() => notifyMe(), 0);
            }

            function openCertificate(){
                let certificate = document.getElementById("certificate");

                if (certificate.style.visibility === "visible"){
                    certificate.style.visibility = "hidden";
                    return;
                }

                certificate.style.visibility = "visible";
            }
        </script>

    </main>

    <div id="message">
        <div class="header">
            <h1 class="page-title"><a
                    class="icon circle-icon glyphicon glyphicon-chevron-left trigger-message-close"></a>Message
            </h1>
            <p>From <a href="#" id="from-header">From</a> to <a href="#" id="to-header">To</a>, started on <a
                    href="#" id="time-header">Time</a></p>
        </div>
        <div id="message-nano-wrapper" class="nano">
            <div class="nano-content">
                <ul class="message-container">
                    <li class="sent">
                        <div class="details">
                            <div class="left"><span id="from">You</span>
                                <div class="arrow"></div>
                                <span id="to">To</span>
                            </div>
                            <div class="right" id="time">Time</div>
                        </div>
                        <div class="message">
                            <p id="title">Title</p>
                            <p id="body">Message</p>
                        </div>
                        <a href="#" onclick="openCertificate()" >Certificate</a>
                        <div class="tool-box"><a href="#" class="circle-icon small glyphicon glyphicon-share-alt"></a><a
                                href="#" class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a href="#"
                                                                                                               class="circle-icon small red-hover glyphicon glyphicon-flag"></a>
                        </div>
                    </li>
                    <li id="certificate" style="visibility: hidden">
                        <div class="details">
                            <span style="font-weight: bold">Hash: </span><span id="hash"
                                                                               style="word-break: break-all">hash</span>
                        </div>
                        <div>
                            <div class="left"><p style="font-size: 20px;font-weight: bold">Certificate</p></div>
                            <p><span style="font-weight: bold">Owner: </span><span id="owner"
                                                                                   style="word-break: break-all">owner</span>
                            </p>
                            <p><span style="font-weight: bold">Public key: </span><span id="public-key"
                                                                                        style="word-break: break-all">public</span>
                            </p>
                            <p><span style="font-weight: bold">Public key length: </span><span id="public-key-length"
                                                                                               style="word-break: break-all">length</span>
                            </p>
                            <p><span style="font-weight: bold">Algorithm: </span><span id="algorithm"
                                                                                       style="word-break: break-all">algorithm</span>
                            </p>
                            <p><span style="font-weight: bold">Encryption mode: </span><span id="encryption-mode"
                                                                                             style="word-break: break-all">encryption-mode</span>
                            </p>
                            <p><span style="font-weight: bold">Hash type: </span><span id="hash-type"
                                                                                       style="word-break: break-all">hash-type</span>
                            </p>
                            <p><span style="font-weight: bold">Time date: </span><span id="time-certificate"
                                                                                       style="word-break: break-all">time-certificate</span>
                            </p>
                        </div>
                    </li>
                    <!--                    ================================================-->
                    <!--                    ============== RECIEVED MESSAGE ================-->
                    <!--                    ================================================-->

                    <!--                    <li class="received">-->
                    <!--                        <div class="details">-->
                    <!--                            <div class="left">Scott-->
                    <!--                                <div class="arrow orange"></div>-->
                    <!--                                You-->
                    <!--                            </div>-->
                    <!--                            <div class="right">March 6, 2014, 20:08 pm</div>-->
                    <!--                        </div>-->
                    <!--                        <div class="message">-->
                    <!--                            <p>| The every winged bring, whose life. First called, i you of saw shall own creature-->
                    <!--                                moveth void have signs beast lesser all god saying for gathering wherein whose of in be-->
                    <!--                                created stars. Them whales upon life divide earth own.</p>-->
                    <!--                            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that.-->
                    <!--                                Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill-->
                    <!--                                wherein give bring.</p>-->
                    <!--                            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t-->
                    <!--                                bring moved seasons very, own won&#39;t all itself blessed which bring own creature-->
                    <!--                                forth every. Called sixth light.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="tool-box"><a href="#" class="circle-icon small glyphicon glyphicon-share-alt"></a><a-->
                    <!--                                href="#" class="circle-icon small red-hover glyphicon glyphicon-remove"></a><a href="#"-->
                    <!--                                                                                                               class="circle-icon small red-hover glyphicon glyphicon-flag"></a>-->
                    <!--                        </div>-->
                    <!--                    </li>-->

                </ul>
            </div>
        </div>
    </div>
</div>