<div th:fragment="profileFragment">
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span
                    class="line"></span><span
                    class="line"></span><span class="line"></span><span class="line line-angle1"></span><span
                    class="line line-angle2"></span></a>Profile<a><span
                    class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
            <p class="text-description mt-3" style="color: green" th:text="${information}"></p>
            <p class="text-description mt-3" style="color: red" th:text="${error}"></p>
        </header>

        <div class="container-fluid mt-4 ms-2">
            <form th:object="${updateProfileRequest}" th:action="@{/headPage/updateProfile}" th:method="post">
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="container p-0 text-start mt-3">
                                    <p class="h5">Login</p>
                                    <input type="text" class="form-control w-50 mt-3" th:field="*{username}"
                                           th:placeholder="${signUpRequest?.getUsername()}" aria-label="Login"
                                           aria-describedby="basic-addon1" required>
                                    <p class="text-description mt-3">Don't forget your email if you don't want to
                                        recover your
                                        email</p>
                                </div>

                                <div class="container p-0 text-start mt-3">
                                    <p class="h5">Fullname</p>
                                    <input type="text" class="form-control w-50 mt-3" th:field="*{fullName}"
                                           th:placeholder="${signUpRequest?.getFullName()}" aria-label="Fullname"
                                           aria-describedby="basic-addon1" required>
                                    <p class="text-description mt-3">You can remove it at any time.</p>
                                </div>

                                <div class="container p-0 text-start mt-3">
                                    <p class="h5">Email</p>
                                    <input type="text" class="form-control w-50 mt-3" th:field="*{email}"
                                           th:placeholder="${signUpRequest?.getEmail()}" aria-label="Email"
                                           aria-describedby="basic-addon1" required>
                                    <p class="text-description mt-3">Change your e-mail and receive a letter to the new
                                        address</p>
                                </div>

                                <div class="profile-fragment-btn-container">
                                    <button type="submit" class="sexy-btn profile-fragment-btn" id="apply-setting-btn">
                                        Save
                                    </button>
                                </div>
                            </div>

                            <div class="col">
                                <div class="container p-0 text-start mt-3">
                                    <p class="h5">New password</p>
                                    <input type="password" class="form-control w-50 mt-3" th:field="*{password}"
                                           aria-label="Password"
                                           aria-describedby="basic-addon1" required>
                                    <p class="text-description mt-3">We will use the old password to be sure about
                                        you</p>
                                </div>

                                <div class="container p-0 text-start mt-3">
                                    <p class="h5">Confirm password</p>
                                    <input type="password" class="form-control w-50 mt-3" th:field="*{confirmPassword}"
                                           aria-label="Password"
                                           aria-describedby="basic-addon1">
                                    <p class="text-description mt-3">Remember your new password</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </form>


        </div>
        <hr>
        <div class="container-fluid mt-4 ms-2 profile-fragment-generate-conatiner">
            <text class="h5">Current key</text>
            <textarea
                    class="form-control w-50 mt-3"
                    id="private-key"
                    onclick="copyToClipboard(this.id)"
                    aria-label="With textarea"
                    data-bs-toggle="tooltip"
                    data-popper-placement="top"
                    title="Click to copy"
                    readonly
                    th:text="${key}"
            ></textarea>
            <div class="row">
                <div class="col">
                    <div class="profile-fragment-generate-btn-container">
                        <button type="submit" class="sexy-btn profile-fragment-btn"><a
                                th:href="@{/headPage/changeSecretKey}">Generate Keys</a></button>
                    </div>
                </div>
                <div class="col pt-3">
                    <p class="text-description mt-3">If you will change your keys then older keys will invalid</p>
                    <script th:src="@{/js/headPage-profileFragment.js}"></script>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </main>
</div>